@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background-color: #000;
    background-image: url('../img/capa.png'); 
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    
   
    display: flex; 
    flex-direction: column; 
}

.page-wrapper {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
}


.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}


a.btn-comprar, .btn-adicionar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #cc0000;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

a.btn-comprar:hover, .btn-adicionar:hover {
    background-color: #ff0000;
}

/* --- CABEÇALHO --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #333;
}

.logo {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: 2px 0 #cc0000; 
}

.logo a {
    color: white;
    text-decoration: none;
}

/* Barra de Pesquisa */
.search-box {
    display: flex;
    align-items: center;
    background-color: #333;
    height: 40px;
}

.search-box input {
    background: transparent;
    border: none;
    padding: 0 15px;
    color: #ccc;
    outline: none;
    width: 200px;
    font-size: 0.9rem;
}

.search-box button {
    height: 40px;
    width: 40px;
    background-color: #999;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Menu */
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --- HOME: TEXTO HERO --- */
.hero-text {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

/* --- HOME: ÁREA DE PRODUTOS --- */
.produtos-container {
    padding: 20px 50px 100px 50px;
    text-align: center;
    flex-grow: 1; 
}

.titulo-destaques {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #000;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* CARD DA HOME */
.card {
    width: 250px;
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 15px;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.card-info {
    padding: 15px;
}

.card h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .preco {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}


.produto-detalhe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 100px 50px;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
    flex-grow: 1; 
}

.coluna-imagem img {
    width: 350px;
    border: 1px solid #444;
    box-shadow: -10px 10px 30px rgba(0,0,0,0.8);
}

.coluna-info {
    max-width: 500px;
    text-align: left;
}

.coluna-info h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
}

.coluna-info .descricao {
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 20px;
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 4px;
}

.preco-gigante {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #ff0000;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255,0,0,0.5);
}

.seletor-qtd {
    display: inline-flex;
    align-items: center;
    background: #222;
    margin-bottom: 20px;
    border-radius: 4px;
}

.seletor-qtd button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
    cursor: pointer;
}

.seletor-qtd span {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 15px;
}

/* RODAPÉ  */
footer {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    color: #aaa;
    flex-shrink: 0; 
}